/* Page styles */
body {
    background-color: #323232;
    font-family: "Open Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Table styles */
table {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    border: 5px solid white;
}

/* Remove outer borders */
tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}
tr td:first-child {
    border-left: none;
}
tr td:last-child {
    border-right: none;
}
